* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

li {
  list-style: none;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes down2pg {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
#index-page {
  height: 100vh;
  width: 100%;
  padding: 40px;
  overflow: hidden;
  position: relative;
}
#index-page .first-part {
  width: 100%;
  height: 90%;
  position: relative;
}
#index-page .first-part .index-left {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#index-page .first-part .index-left h2 {
  margin: 20;
  margin-left: 0;
  margin-bottom: 20px;
}
#index-page .first-part .index-left h1 {
  font-size: 50px;
  line-height: 65px;
  transition: all 0.5s ease;
  animation: slide 2s ease;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
#index-page .first-part .index-left h1 #blue {
  color: rgb(104, 0, 208);
}
#index-page .first-part .index-left p {
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  transition: all 0.5s ease;
  animation: scale 2s ease;
}
#index-page .first-part .index-left .index-btns {
  display: flex;
}
#index-page .first-part .index-left .index-btns .btn {
  min-width: 180px;
  padding: 10px;
  font-size: 15px;
  border: none;
  color: #ffffff;
  border-radius: 25px 4px 25px 4px;
  transition: all 0.5s ease;
  animation: scale 2s ease;
}
#index-page .first-part .index-left .index-btns .a {
  background-color: rgb(104, 0, 208);
  margin-right: 40px;
}
#index-page .first-part .index-left .index-btns .b {
  color: rgb(104, 0, 208);
  border: 1.5px solid rgb(104, 0, 208);
}
#index-page .first-part .index-left .achieved {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  -moz-column-gap: 35px;
       column-gap: 35px;
  margin-top: 10px;
  transition: all 0.5s ease;
  animation: left 2s ease;
}
#index-page .first-part .index-left .achieved .numbers {
  font-weight: 500;
  font-size: 25px;
}
@keyframes left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#index-page .first-part .index-right {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-bottom-left-radius: 200px;
  background-image: url(building-2-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: all 0.5s ease;
  animation: down 2s ease;
}
@keyframes down {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}
#index-page .first-part .index-right .menu {
  display: flex;
  position: absolute;
  top: 0px;
  color: rgb(104, 0, 208);
  font-weight: 500;
  justify-content: space-around;
  width: 100%;
}
#index-page .first-part .index-right .menu li {
  transition: all 0.5s;
  padding: 10px 15px;
}
#index-page .first-part .index-right .menu li.acitve {
  background-color: rgb(104, 0, 208);
  border-radius: 50px;
  color: white;
}
#index-page .first-part .index-right .menu li:hover {
  cursor: pointer;
  background-color: rgb(104, 0, 208);
  border-radius: 50px;
  color: white;
}
#index-page .second-part {
  height: 10%;
  width: 100%;
  align-items: center;
  display: flex;
  font-size: 20px;
  color: rgb(104, 0, 208);
  justify-content: space-around;
  font-weight: bold;
  background-color: rgb(222, 222, 222);
  border-radius: 100px;
  margin-top: 20px;
  transition: all 0.5s ease;
  animation: up 2s ease;
}
@keyframes up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
#index-page .second-part .names {
  display: flex;
}

#second-page {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  padding: 40px;
}
#second-page .secondpg-left {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-top-right-radius: 200px;
  background-image: url(./quadruplex-house-isolated-transparent-background_191095-26865-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  animation: down2pg 2s ease;
}
#second-page .secondpg-right {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
#second-page .secondpg-right p {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  #index-page {
    height: 50vh;
    width: 100%;
    padding: 15px;
  }
  #index-page .first-part {
    width: 100%;
    height: 90%;
    position: relative;
  }
  #index-page .first-part .index-left {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #index-page .first-part .index-left h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }
  #index-page .first-part .index-left h1 {
    font-size: 20px;
    line-height: 25px;
  }
  #index-page .first-part .index-left p {
    margin: 5px 0px 5px 0px;
    font-size: 12px;
  }
  #index-page .first-part .index-left .index-btns {
    display: flex;
  }
  #index-page .first-part .index-left .index-btns .btn {
    min-width: 80px;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px 4px 14px 4px;
  }
  #index-page .first-part .index-left .index-btns .a {
    background-color: rgb(104, 0, 208);
    margin-right: 10px;
  }
  #index-page .first-part .index-left .index-btns .b {
    color: rgb(104, 0, 208);
    border: 1.5px solid rgb(104, 0, 208);
  }
  #index-page .first-part .index-left .achieved {
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin-top: 5px;
    row-gap: 2px;
    font-size: 10px;
  }
  #index-page .first-part .index-left .achieved .numbers {
    font-weight: 500;
    font-size: 14px;
  }
  #index-page .first-part .index-right {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom-left-radius: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
  #index-page .first-part .index-right .menu {
    top: 0px;
    font-weight: normal;
    width: 100%;
    font-size: 10px;
    padding: 0;
  }
  #index-page .first-part .index-right .menu li {
    transition: all 0.5s;
    padding: 3px 4px;
  }
  #index-page .first-part .index-right .menu li.acitve {
    background-color: rgb(104, 0, 208);
    border-radius: 50px;
  }
  #index-page .first-part .index-right .menu li:hover {
    cursor: pointer;
    background-color: rgb(104, 0, 208);
    border-radius: 50px;
    color: white;
  }
  #index-page .second-part {
    height: 8%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
  }
  #index-page .second-part .names {
    display: flex;
    font-size: 14px;
  }
  #second-page {
    width: 100%;
    overflow: hidden;
    height: 50vh;
    display: flex;
    padding: 15px;
  }
  #second-page .secondpg-right {
    padding-left: 10px;
  }
  #second-page .secondpg-right p {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */